.container {
  position: fixed;
  display: table;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 100;
}

.wraper {
  display: table-cell;
  vertical-align: middle;
}

.content {
  position: relative;
  width: 384px;
  height: 536px;
  background: #FFFFFF;
  border-radius: 24px;
  padding: 55px 45px 60px;
  margin: 0 auto;
}

.closeButton {
  position: absolute;
  top: -3%;
  right: -5%;
  z-index: 1200;

  &:hover {
    cursor: pointer;
  }

  &:hover > .close *{
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .content {
    width: 310px;
    height: 480px;
    padding: 30px;
  }
}

@media (max-width: 375px) {
  .content {
    width: 280px;
    height: 460px;
    padding: 20px;
  }
}