.container {
  max-width: 1440px;
  text-align: center;
  padding: 104px 152px 115px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 60px 90px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 25px 60px;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 20px 45px;
  }
}
